@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700,800&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700&display=swap&subset=cyrillic-ext");

/*@media (max-width:$md3+px)*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1509px;
  margin: 0 auto;
  padding: 0px 12px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 122.22222%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title-form {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #423A39;
  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1942 - 320)));
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  background-color: #fff;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6A748C;
  font-size: 20px;
  line-height: 19px;
  height: 50px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/icon.png") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #6A748C;
  display: none;
  position: absolute;
  top: 51px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 20px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 3px !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  height: 50px;
  margin: 5px 0px 35px 0px;
  color: #6A748C;
  font-size: 20px;
}

.input._error {
  border: 1px solid #FF5B5B;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  background: url(../img/callback/callback-dg.jpg) 0 0 no-repeat;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 45px 60px;
  width: 100%;
  max-width: 973px;
  border-radius: 7px;
}

.popup__close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #ECA078;
}

.popup__close:before:hover,
.popup__close:after:hover {
  background-color: #FF5B5B;
}

.popup__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-popup__title {
  margin: 0px 0px 30px 0px;
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1942 - 320)));
  color: #FF5B5B;
  text-align: center;
}

.form-popup__row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.form-popup__line {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form-popup__line label {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #423A39;
}

.form-popup__line input {
  margin: 5px 0px 15px 0px;
}

.form-popup__line-one {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 25px 0px 0px;
}

.form-popup__line-one label {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #423A39;
}

.form-popup__line-dialog input {
  height: 90px;
}

.form-popup__text {
  margin: 20px 0px 30px 0px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
}

.form-popup__text a {
  color: #FF5B5B;
  font-weight: 700;
}

.form-popup__btn {
  margin: 0px 0px 0px 50%;
  -webkit-transform: translate3d(-50%, 0px, 0px);
          transform: translate3d(-50%, 0px, 0px);
}

.header {
  padding: 0px 12px;
}

.header__content {
  height: 100px;
  padding: 0px 41px  0px 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__call {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 40px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  border: 1px solid #FF5B5B;
  border-radius: 3px;
}

.header__call a {
  color: #FF5B5B;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__list li {
  margin: 0px 55px 0px 0px;
}

.menu__list li:last-child {
  margin: 0;
}

.menu__list a {
  color: #423A39;
}

.menu__link {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #333333;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 95px 0px 50px;
  height: 130px;
}

.menu__list-footer li a {
  color: #fff;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.social-footer__item {
  margin: 0px 15px 0px 0px;
}

.social-footer__item:last-child {
  margin: 0;
}

.social-footer__item-vk:hover {
  background: url(/img/icons/footer/active/1.svg) 0 0 no-repeat;
}

.social-footer__item-f:hover {
  background: url(/img/icons/footer/active/2.svg) 0 0 no-repeat;
}

.social-footer__item-i:hover {
  background: url(/img/icons/footer/active/3.svg) 0 0 no-repeat;
}

.social-footer__item-ok:hover {
  background: url(/img/icons/footer/active/4.svg) 0 0 no-repeat;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock {
  margin: 0px 0px 48px 0px;
}

.mainblock__dotts {
  position: relative;
  margin: -66px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainblock__dotts .swiper-pagination-bullet {
  position: relative;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0px 20px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.mainblock__dotts .swiper-pagination-bullet-active {
  background-color: #ECA078;
}

.slide-mainblock {
  position: relative;
}

.slide-mainblock__bg {
  position: relative;
}

.slide-mainblock__bg img {
  max-width: 100%;
}

.slide-mainblock__content {
  position: absolute;
  left: 170px;
  bottom: 265px;
}

.slide-mainblock__subtitle {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slide-mainblock__title {
  margin: 10px 0px 30px 0px;
}

.slide-mainblock__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  padding: 22px 57px;
  background-color: #ECA078;
  border-radius: 3px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 7px #BC5252;
          box-shadow: 0px 2px 7px #BC5252;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slide-mainblock__btn:hover {
  background: #FF5B5B;
}

.sensation {
  margin: 0px 0px 6.4% 0px;
}

.sensation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 180px 0px 110px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sensation__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.sensation__column-i {
  margin: 0px 225px;
}

.sensation__decor {
  height: 26%;
}

.sensation__decor img {
  width: 100%;
}

.column-sensation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #423A39;
}

.column-sensation__img {
  text-align: center;
}

.column-sensation__img img {
  max-width: 100%;
}

.column-sensation__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 23px 0px;
  font-weight: 700;
  font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (1944 - 320)));
  line-height: 122.22222%;
}

.column-sensation__text {
  font-family: "Open Sans";
  font-size: 20px;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1944 - 320)));
  line-height: 135%;
  text-align: center;
}

.info {
  margin: 0px 0px 7.2% 0px;
}

.info__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.info__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info__column-img {
  margin: 0px 0px 0px 125px;
}

.info__column-img img {
  max-width: 100%;
}

.column-info__title {
  margin: 0px 0px 80px 10px;
  text-align: left;
  color: #333333;
}

.column-info__text {
  font-family: "Open Sans";
  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1944 - 320)));
  line-height: 136.11111%;
  text-transform: lowercase;
  color: #423A39;
  margin: 0px 0px 93px 0px;
  max-width: 652px;
}

.column-info__btn {
  display: inline-block;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background: #ECA078;
  -webkit-box-shadow: 0px 2px 7px #BC5252;
          box-shadow: 0px 2px 7px #BC5252;
  border-radius: 3px;
  padding: 18px 40px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.column-info__btn a {
  color: #FFFFFF;
}

.column-info__btn:hover {
  background: #FF5B5B;
}

.forma {
  position: relative;
}

.forma__bg img {
  max-width: 100%;
}

.forma__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forma__body {
  position: absolute;
  top: 0;
}

.forma__block {
  width: 1485px;
}

.nav-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-width: 100%;
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 136.11111%;
  color: #A69D91;
  padding: 36px 0px 33px 0px;
  border-bottom: 1px solid #FF5B5B;
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1942 - 320)));
}

.nav-forma__person {
  position: relative;
  margin: 0px 105px 0px 0px;
  cursor: pointer;
}

.nav-forma__person._active::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 7px;
  bottom: -37px;
  border-radius: 3px;
  background-color: #FF5B5B;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nav-forma__regulations {
  position: relative;
  cursor: pointer;
}

.nav-forma__regulations._active::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 7px;
  bottom: -37px;
  border-radius: 3px;
  background-color: #FF5B5B;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.block-forma__tittle {
  margin: 55px 0px 40px 0px;
}

.block-forma__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.block-forma__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 43px 20px 0px;
}

.block-forma__column:last-child {
  margin: 0px 0px 20px 0px;
}

.block-forma__column-right {
  padding: 9px 0px 0px 0px;
}

.block-forma__line label {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #423A39;
}

.block-forma__line-select {
  margin: 7px 0px 32px 0px;
}

.block-forma__btn {
  display: inline-block;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background: #ECA078;
  -webkit-box-shadow: 0px 2px 7px #BC5252;
          box-shadow: 0px 2px 7px #BC5252;
  border-radius: 3px;
  padding: 18px 40px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #FFFFFF;
}

.block-forma__btn:hover {
  background: #FF5B5B;
}

.upload-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 0px 25px 0px;
}

.upload-forma__row {
  margin: 0px 28px 0px 0px;
}

.upload-forma__row:last-child {
  margin: 0;
}

.upload-forma__row p {
  display: block;
  margin: 0px 0px 20px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #423A39;
}

.upload-forma__row .del-btn {
  display: none;
}

.upload-forma__row label {
  display: block;
  padding: 12px 20px;
  color: #FF5B5B;
  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #FF5B5B;
  cursor: pointer;
}

.upload-forma__row-img {
  width: 101px;
  height: 101px;
  border-radius: 50%;
  background-color: #FF5B5B;
}

.upload-forma__row-img .thumb {
  width: 101px;
  height: 101px;
  border-radius: 50%;
}

.regulations-forma {
  color: #423A39;
}

.regulations-forma__title {
  margin: 55px 0px 28px 0px;
}

.regulations-forma__content {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 135%;
  text-transform: lowercase;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1942 - 320)));
}

.regulations-forma__text {
  margin: 0px 0px 35px 0px;
}

.regulations-forma__item {
  position: relative;
  margin: 0px 0px 40px 33px;
}

.regulations-forma__item:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF5B5B;
  left: -33px;
  top: 3px;
}

.regulations-forma__desire {
  font-weight: 700;
}

@media (min-width: 950px) {
  .menu__link:hover::after {
    left: 0;
    width: 100%;
  }

  .menu__link::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0px;
    height: 3px;
    bottom: -9px;
    background-color: #FF5B5B;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1942px) {
  .title {
    font-size: calc(20px + (72 - 20) * ((100vw - 320px) / (1942 - 320)));
  }

  .slide-mainblock__content {
    left: calc(20px + (170 - 20) * ((100vw - 320px) / (1944 - 320)));
    bottom: calc(20px + (265 - 20) * ((100vw - 320px) / (1944 - 320)));
  }

  .slide-mainblock__subtitle {
    font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1944 - 320)));
  }

  .slide-mainblock__btn {
    font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (1944 - 320)));
  }
}

@media (max-width: 1770px) {
  .forma__bg img {
    max-width: 120%;
  }
}

@media (max-width: 1650px) {
  .sensation__column-i {
    margin: 0px 100px;
  }
}

@media (max-width: 1600px) {
  .column-info__title {
    margin: 0px 0px 50px 0px;
  }

  .column-info__text {
    margin: 0px 0px 40px 0px;
  }

  .block-forma__tittle {
    margin: 35px 0px 25px 0px;
  }

  .regulations-forma__title {
    margin: 35px 0px 25px 0px;
  }
}

@media (max-width: 1570px) {
  .forma__block {
    width: 1285px;
  }

  .nav-forma {
    padding: 26px 0px 23px 0px;
  }

  .nav-forma__person._active::after {
    bottom: -27px;
  }

  .nav-forma__regulations._active::after {
    bottom: -27px;
  }
}

@media (max-width: 1500px) {
  .header__content {
    padding: 0;
  }
}

@media (max-width: 1450px) {
  .forma__bg img {
    max-width: 140%;
  }
}

@media (max-width: 1400px) {
  .popup__body {
    max-width: 800px;
  }
}

@media (max-width: 1380px) {
  .info__column-img {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 1370px) {
  .forma__block {
    width: 1085px;
  }
}

@media (max-width: 1350px) {
  .slide-mainblock__btn {
    padding: 15px 40px;
  }
}

@media (max-width: 1270px) {
  .header__call {
    font-size: 16px;
    margin: 0px 0px 0px 20px;
  }

  .menu__list li {
    margin: 0px 30px 0px 0px;
  }

  .menu__link {
    font-size: 16px;
  }

  .forma__bg img {
    max-width: 160%;
  }
}

@media (max-width: 1160px) {
  .forma__block {
    width: 885px;
  }
}

@media (max-width: 1150px) {
  .sensation__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 100px 0px 40px 0px;
  }

  .sensation__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin: 0px 0px 40px 0px;
  }

  .sensation__column:last-child {
    margin: 0;
  }

  .sensation__column-i {
    margin: 0px 0px 0px 50px;
  }
}

@media (max-width: 1110px) {
  .forma__bg img {
    max-width: 250%;
  }
}

@media (max-width: 1100px) {
  .column-info__title {
    margin: 0px 0px 30px 0px;
  }

  .block-forma__tittle {
    margin: 20px 0px 25px 0px;
    font-weight: 900;
  }

  .regulations-forma__title {
    margin: 20px 0px 25px 0px;
    font-weight: 900;
  }
}

@media (max-width: 1070px) {
  .slide-mainblock__title {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__value {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 990px) {
  .info__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__column-img {
    margin: 0px 0px 40px 0px;
  }

  .column-info__text {
    max-width: 650px;
  }
}

@media (max-width: 970px) {
  .select__value {
    height: 40px;
  }

  .input {
    margin: 5px 0px 10px 0px;
    height: 40px;
    font-size: 18px;
  }

  .form-popup__line label {
    font-size: 18px;
  }

  .form-popup__line-one label {
    font-size: 18px;
  }

  .forma__block {
    width: 500px;
  }

  .nav-forma {
    padding: 15px 0px 15px 0px;
  }

  .nav-forma__person {
    margin: 0px 50px 0px 0px;
  }

  .nav-forma__person._active::after {
    bottom: -17px;
    height: 5px;
  }

  .nav-forma__regulations._active::after {
    bottom: -17px;
    height: 5px;
  }

  .block-forma__content {
    display: block;
  }

  .block-forma__column {
    margin: 0px 0px 10px 0px;
  }

  .block-forma__column:last-child {
    margin: 0px 0px 20px 0px;
  }

  .block-forma__column-right {
    padding: 0px 0px 0px 0px;
  }

  .block-forma__line label {
    font-size: 18px;
  }

  .block-forma__line-select {
    margin: 0px 0px 10px 0px;
  }

  .block-forma__btn {
    font-size: 18px;
  }

  .upload-forma {
    margin: 0px 0px 15px 0px;
  }

  .upload-forma__row p {
    font-size: 18px;
    line-height: 20px;
  }

  .upload-forma__row label {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 950px) {
  .header__call {
    margin: 0px 40px 0px 0px;
    font-size: 14px;
    padding: 7px 10px;
  }

  .menu__body {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eca078f5;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 4;
  }

  .menu__body._active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }

  .menu__list li {
    margin: 0px 0px 40px 0px;
  }

  .menu__list {
    display: block;
    padding: 90px 0px 0px 0px;
    text-align: center;
  }

  .menu__list a {
    color: #fff;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #423A39;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 890px) {
  .popup__body {
    padding: 20px 40px;
  }

  .form-popup__title {
    margin: 0px 0px 10px 0px;
  }

  .form-popup__row-one {
    display: block;
  }

  .form-popup__line-one {
    margin: 0px 0px 0px 0px;
  }

  .form-popup__text {
    font-size: 12px;
    margin: 15px 0px 20px 0px;
  }
}

@media (max-width: 800px) {
  .forma__block {
    width: 500px;
  }
}

@media (max-width: 790px) {
  .regulations-forma__text {
    margin: 0px 0px 20px 0px;
  }

  .regulations-forma__item {
    margin: 0px 0px 20px 33px;
  }
}

@media (max-width: 770px) {
  .mainblock__dotts {
    margin: -36px 0px 0px 0px;
  }

  .mainblock__dotts .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0px 10px;
  }
}

@media (max-width: 750px) {
  .column-info__btn {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px;
  }

  .forma__bg img {
    max-width: 400%;
  }
}

@media (max-width: 730px) {
  .sensation__content {
    margin: 70px 0px 40px 0px;
  }

  .sensation__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .sensation__column-i {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 700px) {
  .slide-mainblock__btn {
    padding: 10px 20px;
  }
}

@media (max-width: 630px) {
  .forma__block {
    width: 400px;
  }

  .block-forma__btn {
    padding: 12px 30px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .popup__close:before,
  .popup__close:after {
    height: 20px;
  }

  .popup__close {
    width: 20px;
    height: 20px;
  }

  .mainblock__dotts {
    margin: -25px 0px 0px 100px;
  }

  .mainblock__dotts .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0px 8px;
  }

  .column-info__btn {
    font-size: 16px;
    line-height: 18px;
    padding: 12px 25px;
  }
}

@media (max-width: 490px) {
  .select__value {
    font-size: 16px;
  }

  .select__option {
    font-size: 16px;
  }

  .input {
    margin: 5px 0px 10px 0px;
    height: 40px;
    font-size: 16px;
  }

  .form-popup__line label {
    font-size: 16px;
  }

  .form-popup__line-one label {
    font-size: 16px;
  }

  .forma__block {
    width: 380px;
  }

  .nav-forma__person {
    margin: 0px 30px 0px 0px;
  }

  .block-forma__line label {
    font-size: 16px;
  }

  .upload-forma__row p {
    font-size: 14px;
    line-height: 18px;
  }

  .upload-forma__row label {
    font-size: 12px;
    line-height: 18px;
    padding: 8px 15px;
  }

  .upload-forma__row-img .thumb {
    width: 90px;
    height: 90px;
  }

  .upload-forma__row-img {
    width: 90px;
    height: 90px;
  }

  .regulations-forma__title {
    margin: 15px 0px 15px 0px;
  }
}

@media (max-width: 450px) {
  .form-popup__line input {
    height: 35px;
  }

  .forma__bg img {
    max-width: 450%;
  }
}

@media (max-width: 440px) {
  .forma__block {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .header__logo {
    display: block;
    text-align: center;
    margin: 30px 0px 0px 0px;
  }

  .column-info__title {
    margin: 0px 0px 20px 0px;
  }

  .forma__bg img {
    max-width: 580%;
  }

  .forma__block {
    width: 300px;
  }

  .nav-forma__person {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 360px) {
  .forma__block {
    width: 270px;
  }
}
@supports (-webkit-appearance:none){
.select__value:before{background:url("../img/icons/icon.webp") center/100% no-repeat}
.checkbox__input:checked + .checkbox__text:before{background:#fff url("../img/icons/check.svg") center no-repeat}
.rating__line{background:url("../img/icons/bg_rating.svg") 0 0 no-repeat}
.rating__activeline{background:url("../img/icons/bg_rating_active.svg") 0 0 no-repeat}
.popup__body{background:url(../img/callback/callback-dg.webp) 0 0 no-repeat}
.social-footer__item-vk:hover{background:url(/img/icons/footer/active/1.svg) 0 0 no-repeat}
.social-footer__item-f:hover{background:url(/img/icons/footer/active/2.svg) 0 0 no-repeat}
.social-footer__item-i:hover{background:url(/img/icons/footer/active/3.svg) 0 0 no-repeat}
.social-footer__item-ok:hover{background:url(/img/icons/footer/active/4.svg) 0 0 no-repeat}
}

 @media (min-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1942px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1770px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1570px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1380px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1370px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1350px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1270px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1070px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 990px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 970px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 890px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 790px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 770px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 730px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 630px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 490px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 440px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
